@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* buttons  */
    .btn-primary {
        background-color: theme('colors.violet.1');
        color: white;
        border-radius: theme('borderRadius.md');
        padding: 0.5rem 3rem;
        transition: all 0.4s;
        font-weight: theme('fontWeight.medium');
    }

    .btn-secondary {
        color: theme('colors.violet.1');
        border: 1px solid theme('colors.violet.1');
        border-radius: theme('borderRadius.md');
        padding: 0.5rem 3rem;
        transition: all 0.4s;
        font-weight: theme('fontWeight.medium');
    }

    .btn-primary:hover {
        background-color: theme('colors.violet.2');
    }

    .btn-secondary:hover {
        background-color: theme('colors.violet.3');
    }

    .btn-disabled {
        opacity: 20%;
        pointer-events: none;
    }


    /* inputs */
    .input {
        color: theme('colors.dark');
        border: 1px solid theme('colors.grey.1');
        border-radius: theme('borderRadius.md');
        padding: 0.5rem 1rem;
        outline: none;
    }
    .input-error {
        color: theme('colors.red');
        border: 1px solid theme('colors.red');
    }
    .input:focus {
        box-shadow: 1px 1px 8px theme('colors.violet.1');
    }
    .input-error:focus {
        box-shadow: none;
    }
}